.pytest_cache/

tests/__pycache__/

build/
dist/
.eggs/

*.egg-info/
*.egg
*.py[cod]
__pycache__/

.eggs/

coverage.xml
report.xml
.coverage

*.so
*~

venv/

# due to using tox and pytest
.tox

*.pyc
*.swp
*.egg

.DS_Store

Pipfile.lock

.ipynb_checkpoints/
